# OSX
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
ios/.xcode.workspace/xcshareddata/IDEWorkspaceChecks.plist
ios/.xcode.workspace/xcshareddata/WorkspaceSettings.xcsettings

# Android/IntelliJ
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore

# Node
node_modules/
npm-debug.log
yarn-error.log

# Bundle artifacts
*.jsbundle

# Firebase
.env
.env.local
.env.development
.env.production
google-services.json
GoogleService-Info.plist

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Jest
coverage/

# Watchman
.watchmanconfig

# Metro
.metro-health-check*

# Expo 
.expo/
.expo-shared/
dist/

# Temp och cache
*.log
*.swp
*.swo
*~
.tmp/